<div class="container">
  <section>
    <img
      class="img-fluid"
      src="assets/img/Screenshot%20from%202024-11-17%2010-52-31.png"
      [routerLink]="['/products']"
    />
  </section>
  <section class="mt-5">
    <h2 class="d-lg-flex justify-content-lg-center">Things We Love</h2>
    <div class="row mt-5">
      <div class="col col-6 col-md-4 mb-5">
        <div class="card border-0">
          <img
            class="img-fluid card-img-top w-100 d-block"
            src="assets/img/Screenshot%20from%202024-11-17%2010-59-37.png"
          />
          <div class="card-body text-center">
            <h4 class="text-center card-title">
              DISTINGUISHED SERVICE IN THE FIELD OF FASHION
            </h4>
            <p class="text-center card-text">
              Honoring Leonard A. Lauder, a visionary &amp; transformative
              leader in the beauty industry, who joins a list of more than 150
              winners
            </p>
            <a class="text-center card-link" href="#" style="color: initial"
              >SHOP OUR AWARD WINNERS</a
            >
          </div>
        </div>
      </div>
      <div class="col col-6 col-md-4 mb-5">
        <div class="card border-0">
          <img
            class="img-fluid card-img-top w-100 d-block"
            src="assets/img/Screenshot%20from%202024-11-17%2010-59-54.png"
          />
          <div class="card-body text-center">
            <h6 class="text-muted card-subtitle mb-2">
              NEIMAN MARCUS EXCLUSIVE
            </h6>
            <p class="text-center card-text">
              Honoring Leonard A. Lauder, a visionary &amp; transformative
              leader in <br />the beauty industry, who joins a list of more than
              150 winners
            </p>
            <a class="text-center card-link" href="#" style="color: initial"
              >SHOP HOLIDAY COCKTAIL &amp; PARTY</a
            >
          </div>
        </div>
      </div>
      <div class="col col-6 col-md-4 mb-5">
        <div class="card border-0">
          <img
            class="img-fluid card-img-top w-100 d-block"
            src="assets/img/Screenshot%20from%202024-11-17%2011-00-17.png"
          />
          <div class="card-body text-center">
            <h6 class="text-muted card-subtitle mb-2">REFINED SHINE</h6>
            <p class="text-center card-text">
              Bracelets, rings &amp; more jewelry in David Yurman’s iconic Cable
              design
            </p>
            <a class="text-center card-link" href="#" style="color: initial"
              >SHOP DAVID YURMAN</a
            >
          </div>
        </div>
      </div>
      <div class="col col-6 col-md-4 mb-5">
        <div class="card border-0">
          <img
            class="img-fluid card-img-top w-100 d-block"
            src="assets/img/Screenshot%20from%202024-11-17%2011-34-20.png"
          />
          <div class="card-body text-center">
            <h6 class="text-muted card-subtitle mb-2">STAR OF THE SHOW</h6>
            <p class="text-center card-text">
              Dropping temps call for an all-black trench from Nili Lotan that
              keeps you warm all season
            </p>
            <a class="text-center card-link" href="#" style="color: initial"
              >SHOP OUTERWEAR</a
            >
          </div>
        </div>
      </div>
      <div class="col col-6 col-md-4 mb-5">
        <div class="card border-0">
          <img
            class="img-fluid card-img-top w-100 d-block"
            src="assets/img/Screenshot%20from%202024-11-17%2011-33-58.png"
          />
          <div class="card-body text-center">
            <h6 class="text-muted card-subtitle mb-2">GILDED ELEGANCE</h6>
            <p class="text-center card-text">
              Gold Valentino Garavani Bowow pumps with a bow detail for a pop of
              elegance
            </p>
            <a class="text-center card-link" href="#" style="color: initial"
              >SHOP VALENTINO GARAVANI</a
            >
          </div>
        </div>
      </div>
      <div class="col col-6 col-md-4 mb-5">
        <div class="card border-0">
          <img
            class="img-fluid card-img-top w-100 d-block"
            src="assets/img/Screenshot%20from%202024-11-17%2011-33-44.png"
          />
          <div class="card-body text-center">
            <h6 class="text-muted card-subtitle mb-2">DAILY DRIVER</h6>
            <p class="text-center card-text">
              Your new go-to handbag from Saint Laurent is waiting for you
            </p>
            <a class="text-center card-link" href="#" style="color: initial"
              >SHOP SAINT LAURENT</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Start: Footer Multi Column -->
