<div class="container">
  <h2 class="text-center">Men's Designer Collection</h2>
  <section class="mt-4">
    <div class="row py-3 px-2" style="background: #f5f6f8">
      <div class="col d-flex flex-column col-12 col-md-4 col-lg-2">
        <img src="assets/img/nm_4835516_100244_m.webp" />
        <h6 class="d-flex justify-content-center mt-3">COATS &amp; JACKET</h6>
      </div>
      <div class="col d-flex flex-column col-12 col-md-4 col-lg-2">
        <img src="assets/img/nm_4706663_100106_a.webp" />
        <h6 class="d-flex justify-content-center mt-3">SNEAKERS</h6>
      </div>
      <div class="col d-flex flex-column col-12 col-md-4 col-lg-2">
        <img src="assets/img/nm_4733302_100189_a.webp" />
        <h6 class="d-flex justify-content-center mt-3">T-SHIRTS</h6>
      </div>
      <div class="col d-flex flex-column col-12 col-md-4 col-lg-2">
        <img src="assets/img/nm_4866012_100263_m.webp" />
        <h6 class="d-flex justify-content-center mt-3">
          LOAFERS &amp; SIIP-ONS
        </h6>
      </div>
      <div class="col d-flex flex-column col-12 col-md-4 col-lg-2">
        <img src="assets/img/nm_4813037_100393_c.webp" />
        <h6 class="d-flex justify-content-center mt-3">JEANS</h6>
      </div>
      <div class="col d-flex flex-column col-12 col-md-4 col-lg-2">
        <img src="assets/img/nm_4803302_100134_c.webp" />
        <h6 class="d-flex justify-content-center mt-3">
          BLAZERS &amp; SPORT COATS
        </h6>
      </div>
    </div>
  </section>
  <section class="mt-5">
    <div class="row">
      <div class="col d-none d-md-block col-md-2">
        <app-product-sidebar />
      </div>
      <div class="col col-12 col-md-10">
        <app-product-gallery />
      </div>
    </div>
  </section>
</div>
