<div class="row py-3 px-2" style="background: #f5f6f8">
  <div
    class="col d-flex flex-column col-12 col-md-4 col-lg-3 mb-4 gallery-img-col"
    *ngFor="let product of products"
  >
    <img
      class="gallery-img"
      src="assets/img/{{ product.images[0] }}"
      (click)="setSelectedProduct(product)"
    />
    <img
      class="gallery-img-2"
      src="assets/img/{{ product.images[1] }}"
      (click)="setSelectedProduct(product)"
    />
    <h5
      class="mb-0"
      style="font-size: 15px; font-weight: bolder"
      (click)="setSelectedProduct(product)"
    >
      {{ product.designer }}
    </h5>
    <p class="mb-0">{{ product.name }}</p>
    <p class="mb-0">{{ product.price | currency }}</p>
  </div>
</div>

<div class="row mt-4">
  <app-pagination
    [productCount]="productCount"
    (pageChangeEvent)="goToPage($event)"
  />
</div>
